* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;

  width: 100%;
}

.web_name {
  margin-top: 15px;
}

.quote_btn {
  margin-top: 20px;
  border: 2px solid;
  padding: 8px;
  border-radius: 3px;
  color: white;
  background-color: black;
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.quote_container p {
  display: inline-block;
  margin-left: 2px;
}
.quote_container {
  margin: 25px;
}

.btn_container input {
  margin-top: 18px;
  padding: 5px;
  margin-left: 5px;
}

.quote {
  width: 100%;
}
